<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="refresh" content="60">-->
    <title>@ViewBag.Title - SPM Web Console</title>
    @Styles.Render("~/Content/css")     
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body onload="setTimeout('document.location.reload();', 120000);">
    <nav class="navbar navbar-expand-lg navbar-dark controls" style="background-color: transparent; height: 65px;">

        <div style="float:left;margin-top:15px; margin-left:5px">
            @Html.ActionLink("Logo", "Index", "Monitoring", null, new { @class = "mylogo" })
        </div>
        @Html.ActionLink("SPM Web Console", "Index", "Monitoring", new { area = "" }, new { @class = "navbar-brand", @style = "color:#a1a1a3;" })
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">@Html.ActionLink("Monitoring", "Index", "Monitoring", null, new { @class = "nav-link", @id = "monitoring-navlink" })</li>
                    <li class="nav-item">@Html.ActionLink("Options", "Index", "Options", null, new { @class = "nav-link", @id = "options-navlink" })</li>
                    <li class="nav-item">@Html.ActionLink("Reports", "Index", "Reports", null, new { @class = "nav-link", @id = "reports-navlink" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link", @id = "about-navlink" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body-content">

        @RenderBody()
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - SPM Web Console</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/bootstrap")


    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });


            //Navigation links highliths activate
            var currentURL = window.location.href;
            if (currentURL.toLocaleLowerCase().includes("options")) {
                $('#options-navlink').addClass("active");
            }
            else if (currentURL.toLocaleLowerCase().includes("reports")) {
                $('#reports-navlink').addClass("active");
            }
            else if (currentURL.toLocaleLowerCase().includes("about")) {
                $('#about-navlink').addClass("active");
            }
            else {
                $('#monitoring-navlink').addClass("active");
            }


            $(".details_btn").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });

            $(".sortable").sortable(
                {
                    update: function (event, ui) {

                        var IDs_string = "";

                        $('.hostslist_div').children('div').each(function () {
                            IDs_string += ($(this).attr("id")) + ","
                        });

                        IDs_string = IDs_string.substring(0, IDs_string.length - 1);

                        updateSortedHosts(IDs_string)

                    }
                });
            $(".sortable").disableSelection();

            ShowHideControls(); //Show or Hide Controls on page depends on Cookie
        })



        function updateHostFields(myform) {

            var dataToPost = {};

            dataToPost.hostname = myform.elements["hostname"].value;
            dataToPost.description = myform.elements["description"].value;
            dataToPost.groupname = myform.elements["groupname"].value;
            dataToPost.selectedgroupname = myform.elements["selectedgroupname"].value;
            dataToPost.hostid = myform.elements["hostid"].value;
            dataToPost.isnotifyenabled = myform.elements["isnotifyenabled"].checked;
            dataToPost.isenabled = myform.elements["isenabled"].checked;

            $.post("@Url.Action("Index", "Monitoring")", { model: dataToPost }, function (data) {
                if (data.status == 0) {
                    alert(data.message);
                }
            });
        }

         function updateHostPicture(myform) {

            var dataToPost = {};

            dataToPost.hostid = myform.elements["hostid"].value;
            dataToPost.imgpath = myform.elements["imgpath"].value;

            $.post("@Url.Action("Index", "Monitoring")", { model: dataToPost }, function (data) {
                if (data.status == 0) {
                    alert(data.message);
                }
                else {
                    if (dataToPost.imgpath == "defaultmonitor") {
                        setTimeout(() => { location.reload(); }, 1500);

                    } else {
                        myform.elements["imgpath"].parentElement.parentElement.parentElement.style.backgroundImage = "url('/Content/Images/" + dataToPost.imgpath + "')";
                    }
                }
            });
        }


        function updateSortedHosts(ids_string) {
            var dataToPost = {};

            dataToPost.ids_string = ids_string;


            $.post("@Url.Action("PostSortedIDs", "Monitoring")", { model: dataToPost }, function (data) {
                if (data.status == 0) {
                    alert(data.message);
                }
            });
        }




        //Cookies for JS
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";SameSite=Lax;Secure;path=/";
        }

        function getCookie(cname) {
            let name = cname + "=";
            let ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        //End Cookies for JS


        // Show Hide Controls
        function ShowHideControls() {

            if (getCookie('ShowHideControls') === "Show") {
                $(".controls").show();
                $(".hostslist_div").css("margin-left", "200px");
                $("#ShowHideLabelText").text("Swith to Less Controls");
            }
            else if (getCookie('ShowHideControls') === "Hide") {
                $(".controls").hide();
                $(".hostslist_div").css("margin-left", "0px");
                $("#ShowHideLabelText").text("Swith to All Controls");
            }
        }

        function SwitchShowHideControls() {
            if (getCookie('ShowHideControls') === "Hide") {
                setCookie('ShowHideControls', 'Show', 7);
            }
            else {
                setCookie('ShowHideControls', 'Hide', 7);
            }
            ShowHideControls();
        }
        // End Show Hide Controls
    </script>

    @RenderSection("scripts", required: false)

</body>
    </html>
